@font-face {
    font-family: "SofiaSans";
    src: url(../fonts/SofiaSans.ttf);
}

@keyframes animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

#backgroundVideo {
  width: 100vw;
  height: 100vh;
  background-position: absolute;
  object-fit: cover;
}

body
{
    opacity: 0;
    animation: animation 3.5s forwards;

    background-color: #18171C;
    color: #fff;

    height: 100%;
    width: 100%;
    overflow: hidden;

    padding: 0;
    margin: 0;
    font-size: 14px;
}

p, img {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.content
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header-logo
{
    height: 120px;
    width: 120px;
}

.header-title
{
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: "SofiaSans";
}

.header-title:hover
{
    cursor: default;
}

.description
{
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
    
    font-size: 1rem;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    font-family: "SofiaSans";
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.links
{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.links img
{
    height: 32px;
    width: 32px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

    .links img:hover{
        transform: scale(1.2);
    }

    .links img:hover::after{
        transform: scale(1);
    }
